/*#caixa {
	width: 300px;
	height: 300px;
	background: url("../imagens/camera.png");
}

#caixa h1 {
	background: rgb(0, 0, 0);
}

#caixa {
	width: 300px;
	height: 300px;
	padding: 8px;
	margin: 20px;
	background: #009670;
	box-shadow: 40px 200px 2px 20px black;
}

#caixa h1 {
	color: white;
	text-shadow: 20px 20px rgba(0, 0, 0, 0.2) ;
}*/

/*****************animação******************/

@keyframes animacao-caixa{
	from {
		background: red;
		border-radius: 0px;
		top: 0;
		left: 0;
	}
	to {
		background: yellow;
		border-radius: 300px;
		top: 200px;
		left: 200px;
	}

	
}

#caixa {
	width: 300px;
	height: 300px;
	background: red;
	position: relative;
	/*animation-name: animacao-caixa;
	animation-duration: 5s;
	animation-name: animacao-caixa;
	animation-duration: 5s;
	animation-iteration-count: 2;
	animation-direction: reverse;*/
	animation: animacao-caixa 5s 3s 2 alternate;

}

#caixa2 {
	width: 300px;
	height: 300px;
	background: red;
	animation-name: animacao-caixa;
	animation-duration: 5s;
	animation-iteration-count: 2;
	animation-direction: reverse;
	animation: animacao-caixa 5s 3s 2 alternate;
}